/* src/styles/carousel.css */
.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%
}

.carousel-track {
    width: 100%;
}

.carousel-slide {
    width: 100%;
}

.carousel-nav {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-nav:hover {
    background: rgba(255, 255, 255, 1);
}