.product-o {
    width: 100%; /* chiếm toàn bộ khung chứa */
    max-width: 250px; /* hoặc tùy chỉnh to hơn */
}

.aspect--square {
    aspect-ratio: 1 / 1; /* Giữ tỉ lệ vuông */
    width: 100%; /* full chiều ngang */
}

.aspect {
    position: relative;
    width: 100%;
    padding-top: 100%; /* để giữ tỷ lệ vuông */
    background-color: #f3f3f3;
    overflow: hidden;
}

.aspect__img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img.aspect__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
